.project {
  padding: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  align-items: center;
  background: #ebeced;
  border-bottom: 1px solid #fff;
  width: 100%;
}

.project__text {
  padding-right: 1rem;
  flex-grow: 1;
}

.project__title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.project__description {
  font-size: 0.8rem;
}

.project__stars {
  text-transform: initial;
}
