.hero {
  background-image: url(./background.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.hero__zenika-logo {
  position: absolute;
  left: 4rem;
  bottom: 6rem;
  opacity: 0.6;
}

.hero__logo {
  align-self: center;
  width: 16rem;
  height: 16rem;
}

.hero__section {
  align-self: flex-end;
  text-align: right;
  color: #fff;
  max-width: 80%;
}

.hero__title h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0.2rem;
}

.hero__title {
  margin-bottom: 2rem;
}

.hero__section p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .hero {
    padding: 0 1rem;
  }

  .hero__logo {
    margin-top: 4rem;
  }

  .hero__zenika-logo {
    display: none;
  }

  .hero__section {
    max-width: 100%;
    text-align: center;
  }

  .hero__section {
    font-size: 2rem;
  }

  .hero__title h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .hero__title {
    margin-bottom: 1rem;
  }

  .hero__section p {
    font-size: 1rem;
    text-align: left;
    line-height: 1.2rem;
    padding: 1rem;
  }
}

.hero--small {
  height: 40vh;
  background-position: center bottom;
  background-attachment: initial;
  justify-content: flex-end;
}

@media screen and (min-width: 1024px) {
  .hero--small {
    background-position: center 90%;
  }
}

@media screen and (min-width: 1280px) {
  .hero--small {
    background-position: center 80%;
  }
}

@media screen and (min-width: 1460px) {
  .hero--small {
    background-position: center 75%;
  }
}
