.hero {
  background-image: url(./background.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__logo {
  align-self: center;
  width: 16rem;
  height: 16rem;
}

.hero__section {
  align-self: flex-end;
  text-align: right;
  color: #fff;
  max-width: 80%;
}

.hero__section > h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.hero__section > p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .hero {
    padding: 0 1rem;
  }

  .hero__logo {
    margin-top: 4rem;
  }

  .hero__section {
    max-width: 100%;
    text-align: center;
  }

  .hero__section {
    font-size: 2rem;
  }

  .hero__section > h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .hero__section > p {
    font-size: 1rem;
    text-align: left;
    line-height: 1.2rem;
    padding: 1rem;
  }
}
