.topProjects {
  flex-grow: 1;
}

.topProjects a {
  color: inherit;
  text-decoration: none;
}

.topProjects a:hover{
  text-decoration: underline;
}

.topProjects__title {
  border-bottom: 1px solid #b51432;
}

