.people {
  background: #7b838c;
  color: #fff;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.people a {
  color: inherit;
}

.people__list {
  display: flex;
  flex-direction: column;
}

.people__title {
  width: 100%;
}

.people__row {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: #0d0100;
  border-bottom: 1px solid #7b838c;
}

.people__nbContributions {
  color: #f2c230;
}

.people__logo {
  opacity: 0.2;
  height: 80%;
  width: 80%;
  display: flex;
}

.people__logo svg {
  flex: 0 0 100%;
}

@media (max-width: 768px) {
  .people {
    width: auto;
  }

  .people__logo {
    display: none;
  }
}
