@media screen and (max-width: 1024px) {
  .hacktoberfest {
    display: none;
  }
}

.hacktoberfest {
   background-color: #072540;
   border-bottom: 5px solid #0069ff;
   color: white;
}

.hacktoberfest__wrapper {
   display: flex;
   padding: 20px;
   height: 150px;
   max-width: 960px;
   margin: auto;
}

.hacktoberfest__logo {
  height: 100%;
  margin-right: 40px;
}

.hacktoberfest__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.stat {
  text-align: center;
}

.stat__title {
  display: block;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.stat__value {
  color: #0069ff;
  font-weight: 700;
  font-size: 40px;
}
