@media screen and (max-width: 1024px) {
  .hacktoberfest {
    display: none;
  }
}

.hacktoberfest {
  background-color: #072540;
  border-bottom: 5px solid #0069ff;
  color: white;
}

.hacktoberfest__wrapper {
  display: flex;
  padding: 20px;
  height: 170px;
  max-width: 960px;
  margin: auto;
}

.hacktoberfest__logo {
  height: 80%;
  margin-right: 40px;
}

.hacktoberfest__banner {
  flex: 1;
  font-weight: 300;
  font-size: 22px;
}

.hacktoberfest a {
  color: white;
  text-decoration: underline;
  font-size: 16px;
}

.hacktoberfest__title {
  display: flex;
  justify-content: space-between;
}

.hacktoberfest__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-top: 10px;
}

.stat {
  text-align: center;
}

.stat__title {
  display: block;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.stat__value {
  color: #0069ff;
  font-weight: 700;
  font-size: 40px;
}
