.metric {
  font-weight: 300;
  text-align: center;
}

.metric  > img {
  height: 7rem;
  margin-bottom: 3rem;
}

.metric__value {
  color: #b51432;
  font-size: 3rem;
  padding-right: 0.8rem;
}

.metric__title {
  color: #b51432;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.metric__subtitle {
  font-size: 0.9rem;
  color: #555;
  margin-top: 0.6rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .metric {
    margin-bottom: 5rem;
  }

  .metric  > img {
    height: 4rem;
    margin-bottom: 2rem;
  }

  .metric > div {
    font-size: 1rem;
  }

  .metric__value {
    font-size: 2rem;
    padding-right: 0.8rem;
  }

  .metric:last-child {
    margin-bottom: 0;
  }
}



