.footer {
  display: flex;
  text-transform: uppercase;
  height: 160px;
  background-color: #3D3333;
  font-weight: 300;
  color: #ddd;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.footer__phrase {
  margin: 0;
  margin-right: 4rem;
  line-height: 2rem;
  font-size: 0.8rem;
}

.footer__phrase > a {
  color: #ddd;
}

.footer__phrase > a:visited {
  color: white;
}
