.metrics {
  padding: 7rem;
  background-color: #ebeced;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .metrics {
    flex-direction: column;
  }
}
